<style type="text/css">
	#share-buttons img {
		width: 35px;
		padding: 5px;
		border: 0;
		box-shadow: 0;
		display: inline;
	}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49490842-1', 'thebandwagn.com');
  ga('send', 'pageview');
</script>


<div class="fullbleedouter">
	<div class="fullbleedinner">
		<img src="/assets/white-writing2.png">
	</div>
</div>


<div class="wrapme">	
	
	<br>
	<div style="margin: 0 auto; text-align:center;line-height: 150%;">
		Wish you were up to speed on sports?</br>
		theBandwagn is a twice-weekly email that highlights the sports world's most important events. It's quick, understandable, and entertaining.</br></br>
		Don't be left out of another conversation!
		</br>
		</br>
	</div>

	<div class="outerformformat">
		<div class="innerformformat">
			<%= form_for @email do |e| %>
				<div class="myform" ><%= e.text_field :email, placeholder: "name@example.com", class: "textfieldpart" %></div></br>
				<div style="text-align: center"><%= e.submit "Subscribe", class: "btn btn-large", style: "font-family: montserrat, helvetica,arial,sans-serif; font-size: 16px;" %></div>
			<% end %>
		</div>
	</div>
	</br>
	
	<div class="bluebackground">
		Testimonials
	</div>
	<div style="text-align:center; padding-top:13px; padding-bottom: 13px;">
		"I finally know what's going on in sports!"<br><br>
		"When my friends at work talk about that huge play from last night, I can actually contribute to the conversation!"<br><br>
		"theBandwagn is short and in language I understand. Love it!"
	</div>
	<div class="bluebackground">
		Check out our <%= link_to "Archive", archive_path, {class: "link_color"} %> or a recent edition below
	</div>

	</br>
	<div class="socialmedialinks">
		
		<!-- I got these buttons from simplesharebuttons.com -->
		<div id="share-buttons">
		 
			<!-- Facebook -->
			<a href="http://www.facebook.com/sharer.php?u=http://www.thebandwagn.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
			 
			<!-- Twitter -->
			<a href="http://twitter.com/share?url=http://www.thebandwagn.com&text=The week's must-know sports news in just a few short sound bites #thebandwagn @thebandwagn" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>

			<!-- LinkedIn -->
			<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.thebandwagn.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
			 
			<!-- Email -->
			<a href="mailto:?Subject=theBandwagn&Body=The%20week's%20must-know%20sports%20news%20in%20just%20a%20few%20short%20sound%20bites!%20#thebandwagn http://www.thebandwagn.com"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
		</div>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="mycat">
		<% if !@category.send_date.nil? %>
			<div style="margin: 0 auto; text-align:center; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
					<h4 style="text-align:center;">theBandwagn from <%= @category.send_date.strftime("%B %e, %Y").to_s %></h4>
			</div>
		<% end %>

		<div>
			<% if @blurbs.any? %>
				<h2 style="text-align:center;"><%= @category.title %></h2>
				<h3>STAT OF THE DAY</h3>
				<p><%= raw(@category.description) %></p>
				<ol class="blurbs">
					<%= render @blurbs %>
				</ol>

			<% else %>
				<%= "Not much to mention right now.  This sport will probs become relevant in a few months." %>
			<% end %>
		</div>
	</div>
	<br>
	<br>
</div>