<style type="text/css">
	#share-buttons img {
		width: 35px;
		padding: 5px;
		border: 0;
		box-shadow: 0;
		display: inline;
	}
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49490842-1', 'thebandwagn.com');
  ga('send', 'pageview');
</script>


<div class="wrapme">
	<div style="height: 200px; width: 600px;">
		<img src="/assets/fans-for-web.png">
	</div>
	<br>
	<div style="margin: 0 auto; text-align:center;line-height: 150%;">
		TheBandwagn team scours the sports world and identifies key information and games that people will be talking about. Enter your email and we'll send you this info every Monday and Friday plus days that have major events.
		</br>
		</br>
	</div>

	<div style="margin: 0 auto; background: #3D9AD1; height: 150px; width: 600px;">
		<div style="margin-left:40px; width: 500px; padding-top:26px;">
			<%= form_for @email do |e| %>
				<%= e.text_field :email, placeholder: "name@example.com", style: "width:100%; height:40px; font-family: helvetica,arial,sans-serif; font-size: 16px;" %></br>
				<div style="text-align: center"><%= e.submit "Subscribe", class: "btn btn-large", style: "font-family: helvetica,arial,sans-serif; font-size: 16px;" %></div>
			<% end %>
		</div>
	</div>
	</br>

	<div style="margin: 0 auto; text-align:center; position: relative; width:500px; font-size: 125%; line-height: 150%;">
		Check out our <%= link_to "Archive", archive_path %> or a recent edition below.
		<br><br>
		<!-- I got these buttons from simplesharebuttons.com -->
		<div id="share-buttons">
		 
			<!-- Facebook -->
			<a href="http://www.facebook.com/sharer.php?u=http://www.thebandwagn.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
			 
			<!-- Twitter -->
			<a href="http://twitter.com/share?url=http://www.thebandwagn.com&text=The week's must-know sports news in just a few short sound bites #thebandwagn @thebandwagn" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>

			<!-- LinkedIn -->
			<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.thebandwagn.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
			 
			<!-- Email -->
			<a href="mailto:?Subject=TheBandwagn&Body=The%20week's%20must-know%20sports%20news%20in%20just%20a%20few%20short%20sound%20bites!%20#thebandwagn http://www.thebandwagn.com"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
		</div>

	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="mycat">
		<div style="margin: 0 auto; text-align:center; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea;">
				<h4 style="text-align:center;">TheBandwagn from <%= @category.send_date.strftime("%B %e, %Y").to_s %></h4>
		</div>

		<div>
			<% if @blurbs.any? %>
				<h2 style="text-align:center;"><%= @category.title %></h2>
				<h3>STAT OF THE DAY</h3>
				<p><%= raw(@category.description) %></p>
				<ol class="blurbs">
					<%= render @blurbs %>
				</ol>

			<% else %>
				<%= "Not much to mention right now.  This sport will probs become relevant in a few months." %>
			<% end %>
		</div>
	</div>
	<br>
	<br>
</div>