<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>TheBandwagn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body style="margin-left: 4px; margin-right: 2px; padding: 0;">
	<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; font-family: helvetica,arial,sans-serif; font-size: 16px;">
		<tr style="margin-bottom:100px">
			<td style="text-align:center;">
				<%= link_to "View in browser", @category_url %>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px solid #e8e8e8; height: 150px;">
				<%= image_tag(attachments['fans-losing-it2.png'].url,) %>
			</td>
		</tr>
		<tr>
			<td>
				<h3>STAT OF THE DAY</h3>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px solid #e8e8e8">
				<%= @category.description %>
			</td>
		</tr>
		<% @blurbs.each do |b| %>
			<tr>
				<td><h3><%= raw(b.name.upcase) %></h3></td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #e8e8e8">
					<%= raw(b.content) %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td style="text-align:center">
				<!-- Facebook -->
				<a href="http://www.facebook.com/sharer.php?u=<%= @category_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" style ="width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline;" /></a>
				<!-- Twitter -->
				<a href="http://twitter.com/share?url=<%= @category_url %>&text=The week's must-know sports news in just a few short sound bites #thebandwagn @thebandwagn" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" style ="width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline;" /></a>
			</td>
		</tr><br>
		<tr>
			<td style="text-align:center">Have some feedback?<br>Email us at conductor@thebandwagn.com</td>
		</tr><br>
		<tr>
			<td style="font-size: 75%;">
				<%= link_to 'Unsubscribe', @unsubscribe %> | <%= link_to "View in browser", @category_url %>
			</td>
		</tr>
	</table>
</body>
<br>
<br>