<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body style="margin-left: 4px; padding: 0;">
	<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		<tr style="margin-bottom:100px">
			<td style="text-align:center;">
				<%= link_to "View in browser", @category_url %>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px solid #e8e8e8">
				<h1 style="text-align:center; margin-top:50px;">TheBandwagn</h1>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Stat of the Day</h3>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px solid #e8e8e8">
				<%= @category.description %>
			</td>
		</tr>
		<% @blurbs.each do |b| %>
			<tr>
				<td><h3><%= raw(b.name) %></h3></td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #e8e8e8">
					<%= raw(b.content) %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td>
				<%= link_to "View in browser", @category_url %>
			</td>
		</tr>
	</table>
</body>