<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body style="margin-left: 4px; padding: 0;">
	<table align="center" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		<tr style="margin-bottom:100px">
			<td style="text-align:center;">
				<%= link_to "View in browser", @category_url %>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px solid #e8e8e8">
				<h1 style="text-align:center; margin-top:50px;">TheBandwagn</h1>
			</td>
		</tr>
		<tr>
			<td>
				<h3>Stat of the Day</h3>
			</td>
		</tr>
		<tr>
			<td style="border-bottom: 1px solid #e8e8e8">
				<%= @category.description %>
			</td>
		</tr>
		<% @blurbs.each do |b| %>
			<tr>
				<td><h3><%= raw(b.name) %></h3></td>
			</tr>
			<tr>
				<td style="border-bottom: 1px solid #e8e8e8">
					<%= raw(b.content) %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td>
				<!-- Facebook -->
				<a href="http://www.facebook.com/sharer.php?u=<%= @category_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" style ="width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline;" /></a>
				<!-- Twitter -->
				<a href="http://twitter.com/share?url=<%= @category_url %>&text=The week's must-know sports news in just a few short sound bites #thebandwagn @thebandwagn" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" style ="width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline;" /></a>
				<!-- LinkedIn -->
				<a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= @category_url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" style ="width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline;" /></a>
				<!-- Email -->
				<a href="mailto:?Subject=TheBandwagn&Body=The%20week's%20must-know%20sports%20news%20in%20just%20a%20few%20short%20sound%20bites!%20#thebandwagn <%= @category_url %>"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" style ="width: 35px; padding: 5px; border: 0; box-shadow: 0; display: inline;" /></a>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to "View in browser", @category_url %> | <%= link_to 'Unsubscribe', @unsubscribe %>
			</td>
		</tr>
	</table>
</body>