<div style="height: 200px; margin: 0 auto; width:600px;">
	<img src="/assets/fans-for-web.png">
</div>
</br>

<ul style="margin: 0 auto; text-align:center;">
	<%= link_to "<< Back to signup", root_path %>
	</br></br>
	<% if user_signed_in? %>
		<% @categories_for_mm.each do |c| %>
			<li style="list-style-type:none;">
				<% if c.send_date.present? %>
					<%= link_to "TheBandwagn from " + c.send_date.strftime("%B %e").to_s, c %> |
				<% else %>
					<%= link_to "TheBandwagn from " + c.created_at.strftime("%B %e").to_s, c %> |
				<% end %>
				<%= link_to "Edit", edit_category_path(c) %> |
				<%= link_to "Destroy", c, method: :delete, data: {confirm: "You sure?"} %> |
				<%= c.show_to_users %>
			</li>
		<% end %>
	<% else %>
		<% @categories_for_users.each do |c| %>
			<li style="list-style-type:none;">
				<% if c.send_date.present? %>
					<%= link_to "TheBandwagn from " + c.send_date.strftime("%B %e").to_s, c %>
				<% else %>
					<%= link_to "TheBandwagn from " + c.created_at.strftime("%B %e").to_s, c %>
				<% end %>
			</li>
		<% end %>
	<% end %>
</ul>