<div style="height:350px; background: #1796EB;">
	<div style="width:800px; margin: 0 auto; padding-top:50px;">
		<img src="/assets/white-writing.png">
	</div>
</div>

<div class="wrapme">
	</br>

	<ul style="margin: 0 auto; text-align:center;">
		<%= link_to "<< Back to signup", root_path %>
		</br></br>
		<% if user_signed_in? %>
			<% @categories_for_mm.each do |c| %>
				<li style="list-style-type:none;">
					<% if c.send_date.present? %>
						<%= link_to "theBandwagn from " + c.send_date.strftime("%B %e").to_s, c %> |
					<% else %>
						<%= link_to "theBandwagn from " + c.created_at.strftime("%B %e").to_s, c %> |
					<% end %>
					<%= link_to "Edit", edit_category_path(c) %> |
					<%= link_to "Destroy", c, method: :delete, data: {confirm: "You sure?"} %> |
					<%= c.show_to_users %>
				</li>
			<% end %>
		<% else %>
			<% @categories_for_users.each do |c| %>
				<li style="list-style-type:none;">
					<% if c.send_date.present? %>
						<%= link_to "theBandwagn from " + c.send_date.strftime("%B %e").to_s, c %>
					<% else %>
						<%= link_to "theBandwagn from " + c.created_at.strftime("%B %e").to_s, c %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>