<div class="row">
<br>
<br>
<br>
<br>

	<div class="span4">
		<section>
			<%= form_for(@category) do |f| %>
				<%= f.text_field :title, placeholder: "Enter a title..." %>
				</br>
				<%= f.label :show_to_users, "Display in archive?" %>
				
				<%= f.check_box :show_to_users %>
				</br></br>
				<%= f.text_area :description, placeholder: "Enter a description or quote of the day..." %>
				<%= f.submit "Post", class: "btn btn-large btn_primary" %>
			<% end %>
		</section>
	</div>
</div>