<div style="margin-bottom:10px;">
	<div class="row">
	  <aside class="span4">
	    <section>
	    	<% if user_signed_in? %>
	    		<%= link_to 'Create a new email', new_category_path %>
	    	<% end %>

			<% @categories.each do |c| %>
				<h4><%= link_to_unless_current(c.title, c) %>
				<% if user_signed_in? %>
					<%= link_to "Edit", edit_category_path(c) %>
					<%= link_to "Destroy", c, method: :delete, data: {confirm: "You sure?"} %>
				<% end %>
				</h4>
			<% end %>
	    </section>
	  </aside>




		<div class="span8">
			<% if @blurbs.any? %>
				<h3><%= @category.title %></h3>
				<h3>Stat of the Day</h3>
				<p><%= raw(@category.description) %></p>
				<p>
					<% if user_signed_in? %>
						<%= form_for(@blurb) do |f| %>
							<%= f.text_field :name, placeholder: "Enter a headline..." %>
							<%= f.cktext_area :content, placeholder: "Compose new blurb..." %>
							<%= f.hidden_field :category_id, value: @category.id %>
							<%= f.submit "Post", class: "btn btn-large btn-primary" %>
						<% end %>
					<% end %>
				</p>
				<ol class="blurbs">
					<%= render @blurbs %>
				</ol>

			<% else %>
				<%= "Not much to mention right now.  This sport will probs become relevant in a few months." %>
			<% end %>
		</div>
	</div>
</div></br>