


<div class="row">
  <aside class="span4">
    <section>
		<% @categories.each do |c| %>
			<h4><%= link_to_unless_current(c.title, c) %></h4>
		<% end %>
    
    	<% if user_signed_in? %>
			<%= form_for(@blurb) do |f| %>
				<%= f.text_field :name, placeholder: "Enter a headline..." %>
				<%= f.text_area :content, placeholder: "Compose new blurb..." %>
				<%= f.hidden_field :category_id, value: @category.id %>
				<%= f.submit "Post", class: "btn btn-large btn-primary" %>
			<% end %>
		<% end %>
    </section>
  </aside>




	<div class="span8">
		<% if @blurbs.any? %>
			<h3><%= @category.title %> (<%= @blurbs.count %>) on <%= DateTime.now.strftime("%B %d, %Y")%></h3>
			<h3>Why it's relevant</h3>
			<p><%= @category.description %></p>
			
			<ol class="blurbs">
				<%= render @blurbs %>
			</ol>

		<% else %>
			<%= "Not much to mention right now.  This sport will probs become relevant in a few months." %>
		<% end %>
	</div>
</div>

