<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "theBandwagn", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li style="font-weight:bold; font-size:2em;"><%= link_to 'Home', root_path %></li>
          <li style="font-weight:bold; font-size:2em;"><%= link_to 'Archive', archive_path %></li>
          <li><%= link_to 'Test Email', static_pages_test_path, confirm: 'Are you sure?' %></li>
          <li><%= link_to 'E-Blast', static_pages_eblast_path, confirm: 'Are you sure?' %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>